BasedOnStyle: WebKit
IndentWidth: 4
BreakBeforeBraces: Stroustrup
IndentCaseLabels: true
AlignTrailingComments: true
ColumnLimit: 100
ContinuationIndentWidth: 4
# AlignAfterOpenBracket: true
AlignOperands: true
BinPackArguments: false
BinPackParameters: false
# AllowAllArgumentsOnNextLine: true
